body {
    max-width: 640px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.segment {
    margin: 2em auto;
    border: 1px solid #0080FF;
    padding: 2em;
}

.gallery{
    background-color: #EEEEEE;
    padding: 0.2em;
    width: 80%;
    height: auto;
    margin: 1em auto;

}

.gallery a{
    transition: background-color .2s ease-in;
}

.gallery a:hover{
    background-color: #0080FF;
}

.desc {
    padding: 0.3em;
}

h2 {
    color: #E52B50;
}

p {
    color: #242424;
}

h1 {
    font-size: 4em;
}

a {
    color: #0080FF;
    transition: background-color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

a:visited {
    color: #E52B50;
}

a:hover {
    color: white;
    background: #0080FF;
}

strong {
    font-family: 'Roboto Condensed', sans-serif;
}

em {
    font-family: 'Roboto Condensed', sans-serif;
}

#aureotetralogo {
    width: 65%;
}