$breakpoint: 720px;
$font-size: 20px;

$bg-col: #eee;
$bac-col: #eee;
$pri-col: #445;
$hyperlink-col: mediumaquamarine;
$cta-col: #ff5d7b;
$navbar-height: 32px;
$navbar-icon-size: 16px;

$trans-time: 400ms;

