:root
    --font-size: 16px
    --font-size-mobile: 18px
    --font-family: "Jost", sans-serif
    --font-family-link: "Noto Sans Mono", monospace
    --font-family-code: "Space Mono", monospace

    --transition-time-default: 400ms
    --transition-time-content: 200ms
    --transition-time-anchor: 200ms
    --transition-time-icon-expand-base: 600ms

    --col-acc-alt: #ff5d7b

    &[data-isdarkmode="false"]
        --col-pri: #445
        --col-bg: #eee
        --col-acc: mediumaquamarine
        --col-bg2: #222

    &[data-isdarkmode="true"]
        --col-pri: #ddd
        --col-bg: #333
        --col-acc: teal

$breakpoint: 720px
