$breakpoint: 720px
$font-size: 16px
$font-size-mobile: 18px

$col-bg: #eee
$col-pri: #445
$col-acc: mediumaquamarine
$col-acc2: #ff5d7b

$col-bg-dark: #333
$col-pri-dark: #ddd
$col-acc-dark: teal

$trans-time-default: 400ms

$fonts: "Jost", sans-serif