@use "./vars" as v

a
    color: var(--col-pri)
    text-decoration: none
    background-repeat: no-repeat
    background-image: linear-gradient(to top, var(--col-acc) 0% 90%, transparent 10%)
    background-position: 50% 80%
    background-size: 100% 30%
    transition: background-size var(--transition-time-anchor) ease-in, background-position var(--transition-time-anchor) ease-out

    &:hover
        // background-position: 50% 80%
        background-size: 100% 100%

code
    font-family: var(--font-family-code)
    font-size: 0.9rem
    background-color: var(--col-code-bg)
    padding: 0.1rem 0.25rem
    border-radius: 0.25rem

.sr-only
    position: absolute
    width: 1px
    height: 1px
    padding: 0
    margin: -1px
    overflow: hidden
    clip: rect(0, 0, 0, 0)
    white-space: nowrap
    border: 0
