// CSS for JunoNgx.com created by Juno Nguyen
// This project is using BEM naming convention

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap');

$breakpoint: 720px;
$font-size: 20px;

$bac-col: #eee;
$pri-col: #445;
$hyperlink-col: mediumaquamarine;
$navbar-height: 32px;
$navbar-icon-size: 16px;

$trans-time: 400ms;

@mixin std-border {
    border: 1px solid $pri-col;
}

@mixin col-sha-trans($col) {
    transition: box-shadow $trans-time ease-out;
    &:hover {
        box-shadow: -5px 0 $col;
    }
}