// CSS for JunoNgx.com created by Juno Nguyen
// This project is using BEM naming convention

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$breakpoint: 720px;
$font-size: 20px;

$bg-col: #ddd;
$bac-col: #eee;
$pri-col: #445;
$hyperlink-col: mediumaquamarine;
$cta-col: #ff5d7b;
$navbar-height: 32px;
$navbar-icon-size: 16px;

$trans-time: 400ms;

@mixin std-border {
    border: 2px solid $pri-col;
}

@mixin std-border-btm {
    border-bottom: 2px solid $pri-col;
}

@mixin col-sha-trans($col) {
    transition: box-shadow $trans-time ease-out;
    &:hover {
        box-shadow: 10px 10px $col;
    }
}