@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

$breakpoint: 720px;
$font-size: 18px;

$bac-col: #222;
$pri-col: #eee;

$pal-r: salmon;
$pal-g: darkseagreen;
$pal-b: steelblue;
$pal-y: lemonchiffon;
$pal-p: peachpuff;

$trans-time: 400ms;

@mixin std-border {
    border: 1px solid $pri-col;
}

@mixin col-sha-trans($col) {
    transition: box-shadow $trans-time ease-out;
    &:hover {
        box-shadow: -15px 0 $col;
    }
}

body {
    color: $pri-col;
    background-color: $bac-col;
    font-weight: lighter;
    font-family: Roboto Condensed, serif;
    max-width: 768px;
    margin: auto;
    margin-top: 2rem;
    a {
        color: $pri-col;
        &:visited {
            color: $pri-col;
        }
    }
    h1, h2, h3 {
        font-weight: lighter;
    }
}

.page {
    &--content {
        max-width: 512px;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem;
    &__item {
        font-size: 2rem;
        margin: 0.3rem 1rem;
        list-style: none;
        a {
            text-decoration: none;
        }
    }
    @media screen and (min-width: $breakpoint) {
        width: 200px;
        position: fixed;
        left: 60%;
        a {
            padding: 0 1rem;
            transition: $trans-time ease;
            &:hover {
                padding-right: 5rem;
                background-color: $pri-col;
                color: $bac-col;
            }
        }
    }
}

.section {
    margin: 1rem 1rem 5rem 1rem;
    padding: 0 0.5rem 0 0.5rem;
    p {
        hyphens: auto;
        line-height: 1.5;
        font-size: $font-size;
        margin: 1rem 0 0 0;
    }

    &__brand {
        font-size: 3.5rem;
        margin: 0;
    }
    &__subbrand {
        font-size: 1.5rem;
        margin: 0;
    }

    &__header {
        font-size: 3rem;
        margin: 0 0 1rem 0;
    }
    &__subheader {
        font-size: 1.5rem;
    }
    &__img {
        display: block;
        width: 100%;
        margin: auto;
    }

    &--banner {
        
        border-bottom: double 2px $pri-col;
        padding-bottom: 2rem;
    }
    &--contact-me {
        margin: auto;
        text-align: center;
        max-width: 360px;
        padding: 0;
        p {
            margin: 0;
        }
        &__content {
            @include std-border;
            margin: 1rem;
            padding: 1rem 2rem;
            &:after {
                content: "My contacts are above on top ↑";
                font-size: $font-size;
            }
        }
    }

    @media screen and (min-width: $breakpoint) {

        &__brand {
            font-size: 5rem;
            margin: 0;
        }
        &--contact-me {
            &__content {
                &:after {
                    content: "My contacts are on the right →";
                }
            }
        }

        &--banner {
            @include col-sha-trans($pal-p);
        }
        &--ebonymemo {
            @include col-sha-trans($pal-y);
        }
        &--wonyun {
            @include col-sha-trans($pal-b);
        }
        &--gamedev {
            @include col-sha-trans($pal-g);
        }
        &--others {
            @include col-sha-trans($pal-r);
        }

    }
}

.footer {
    margin: 5rem auto 1rem auto;
    text-align: center;
}

// Colour pallete
.pal--r {
    color: $pal-r;
}

.pal--g {
    color: $pal-g;
}

.pal--b {
    color: $pal-b;
}

.pal--y {
    color: $pal-y;
}

.pal--p {
    color: $pal-p;
}

